<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>Hirsipuu</title>
    <link rel="stylesheet" href="../static/styles/hirsipuu.css">
    <link rel="stylesheet" href="../static/styles/menu.css">
    <link rel="stylesheet" href="../static/styles/story.css">
    <script src="../static/script/hirsipuu.js" defer></script>
    <script src="../static/script/menu.js" defer></script>
    <script src="../static/script/info.js" defer></script>
    <script src="../static/script/sendBoolean2.js"></script>
    <script src="../static/script/story.js"></script>
</head>
<body>
<img src="../static/images/taustakuva_03.jpg" alt="Unable to load image!">

<div id="storyOverlay" class="">
    <div id="storyBox">
        <div id="storyClose">&times;</div>
        <div id="storyContent">
            Story failed to load!
        </div>
    </div>
</div>

<nav>
    <div id="sijainti">
        <img src="../static/images/location.svg" alt="">
        <p id="location"></p>
    </div>
    <div id="budjetti">
        <p>BUDJETTI:</p>
        <p id="budget"></p>
    </div>
</nav>

<div class="menu-btn" id="menu-btn">
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="nav-menu" id="nav-menu">
    <ul>
        <li><a href="home.html">Koti</a></li>
        <li><a href="instructions.html">Ohjeet</a></li>
        <li><a href="game-map.html">Kartta</a></li>
        <li><a href="../game">Minipelit</a></li>
        <li><a href="../haalarimerkit">Haalarimerkit</a></li>

    </ul>
</div>

<main>
    <div id="left">
        <img id="hangman-img" src="../static/images/hirsipuu1.png" alt="">
        <div class="correctLetters">

        </div>
    </div>

    <div id="right">
        <div class="guessedLetters">
            <div class="letterTitle">ARVATUT KIRJAIMET</div>
            <div class="divider"></div>
            <p id="guessed"></p>
        </div>

        <form>
            <input type="text" id="guessInput" placeholder="Arvaa kirjain tai sana...">
            <button type="submit" id="guessButton">ARVAA</button>
        </form>
    </div>

</main>

</body>
</html>