<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/menu.js" defer></script>
    <link rel="stylesheet" href="../static/menu.css">
</head>
<body>

<div class="menu-btn" id="menu-btn">
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="nav-menu" id="nav-menu">
    <ul>
        <li><a href="/home_page">Koti</a></li>
        <li><a href="/instructions_page">Ohjeet</a></li>
        <li><a href="/map_page">Kartta</a></li>
        <li><a href="../game">Minipelit</a></li>
        <li><a href="../haalarimerkit">Haalarimerkit</a></li>
    </ul>
</div>

<div class="container">
        <h1>GAME OVER</h1>
        <h2>Budjetti loppui. Peli on päättynyt. Voit tarkastella merkkejäsi </h2>

        <a href="/" class="btn">Aloita uusi peli</a>
    </div>

</body>
</html>